<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	description="Incoming message validation. invalid xml" 
	name="Block_1_negative" 
	xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">
	
   <Log level="info">==========@ Запущен тест кейс #$Test_name$#.</Log>

    		<!--
    			Тест-Кейс:
    			1. Сохраняем невалидный xml в переменную
          		2. Отправляем запрос к soap/http сервису с невалидным телом
          		3. Записывает ответ в переменную
    			4. Сравниваем фактический ответ с ожидаемым
    		-->
    		
    
    <GetTemplate path="Templates/ex1_msg1_invalid.xml" variable="input_xml"/>
    <GetTemplate path="Templates/ex1_resp1_validation_error.xml" variable="expected_result"/>
    
	<RunSOAPHttpRequest operationName="create">
      <SoapHttpEndpoint objName="endpoint1"/>
      <request variable="input_xml"/>
      <response variable="response"/>
    </RunSOAPHttpRequest>

    <AssertXmlEqual>
      <actual variable='response'></actual>
      <expected variable='expected_result'></expected>
    <exclude logLevel="error">
        <mnemonic mnemonicType="XPATH" name="/soapenv:Envelope/soapenv:Body/soapenv:Fault/detail/text()"/>
    </exclude>
    </AssertXmlEqual> 

</Test>