<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	description="Работа с заголовками сообщений" 
	name="Block_3_invalid_headers" 
	xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

  <Log level="info">==========@ Запущен тест кейс #$Test_name$#.</Log>

  <!-- 
  Тест-Кейс: 
  1. Сохраняем файлы для отправки и сравнения в переменные 
  2. Отправляем валидное сообщение в очередь, оно валидируется и отправляется сообщение в другую очередь
  3. Получаем сообщение из очереди исходящих сообщений OUT
  4. Валидируем исходящее сообщение
  5. Получаем сообщение из очереди о результатах валидации RESP
  6. Валидируем полученное сообщение: usr.ERROR=Invalid or Empty Header и Parsing Error: Header values either invalid or empty -->

  <GetTemplate path="Templates/ex3_msg_with_headers.xml" variable="valid_xml"/>


  <Log level="info">==========@ Очистка очередей.</Log>
  <ClearQueue clearMethod="CLEAR">
    <Queue objName="TASK3.IN"/>
    <Queue objName="TASK3.OUT"/>
    <Queue objName="TASK3.RESP"/>
  </ClearQueue>

  <Log level="info">==========@ Отправка сообщения.</Log>
  <SendMessage variable="valid_xml">
    <Queue objName="TASK3.IN"/>
    <set>
        <rfh2>
            <setStringProperty name="System" value="UNSUPPORTED_VALUE"/>
            <setStringProperty name="TypeRequest" value="client"/>
        </rfh2>
    </set>
</SendMessage>


  <Log level="info">==========@ Получение сообщения из TASK3.RESP.</Log>
  <GetMessageSimple maxTime="10000" variable="RESP_message">
    <Queue objName="TASK3.RESP"/>
    <get>
        <rfh2>
            <getStringProperty name="ERROR" variable="error_header"/>
        </rfh2>
    </get>
  </GetMessageSimple>


  <Log level="info">==========@ Проверка сообщения из TASK3.RESP.</Log>
	<ValidateXmlDocument schemaPath="XSD/Transaction-Result.xsd" variable="RESP_message"/>
	
  <Log>#RESP_message#</Log>
  
  
	<Log level="info">==========@ Проверка заголовка сообщения из TASK3.RESP.</Log>
  <AssertEquals value="Invalid or Empty Header" variable="error_header"/>
  
  
  
  <Log level="info">==========@ Проверка содержания сообщения из TASK3.RESP.</Log>
  <PutVariable mnemonic="validation_result" name="is_valid" variable="RESP_message"/>
	
  <Match mnemonic="contains_valid"
       mnemonicType="REGEXP" variable="is_valid"/>
       
  <Log level="info">==========@ Проверка TASK3.OUT.</Log>
	<CheckQueueIsEmpty>
		<Queue objName="TASK3.OUT"/>
	</CheckQueueIsEmpty>

</Test>