<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	description="Работа с заголовками сообщений" 
	name="Block_3_empty_headers" 
	xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

  <Log level="info">==========@ Запущен тест кейс #$Test_name$#.</Log>

  <!-- 
  Тест-Кейс: 
  1. Сохраняем файлы для отправки и сравнения в переменные 
  2. Отправляем валидное сообщение в очередь
  3. Получаем сообщение из очереди о результатах валидации RESP
  4. Валидируем полученное сообщение: usr.ERROR=Invalid or Empty Header
  5. Проверяем, что очередь исходящих сообщений пустая
   -->

  <GetTemplate path="Templates/ex3_msg_with_headers.xml" variable="valid_xml"/>


  <Log level="info">==========@ Очистка очередей.</Log>
  <ClearQueue clearMethod="CLEAR">
    <Queue objName="TASK3.IN"/>
    <Queue objName="TASK3.OUT"/>
    <Queue objName="TASK3.RESP"/>
  </ClearQueue>

  <Log level="info">==========@ Отправка сообщения без заголовков.</Log>
  <SendMessage variable="valid_xml">
    <Queue objName="TASK3.IN"/>
</SendMessage>


  <Log level="info">==========@ Получение сообщения из TASK3.RESP.</Log>
  <GetMessageSimple maxTime="10000" variable="RESP_message">
    <Queue objName="TASK3.RESP"/>
    <get>
        <rfh2>
            <getStringProperty name="ERROR" variable="error_header"/>
        </rfh2>
    </get>
  </GetMessageSimple>

  <Log level="info">==========@ Проверка TASK3.OUT.</Log>
	<CheckQueueIsEmpty>
		<Queue objName="TASK3.OUT"/>
	</CheckQueueIsEmpty>


  <Log level="info">==========@ Проверка сообщения из TASK3.RESP.</Log>
	<ValidateXmlDocument schemaPath="XSD/Transaction-Result.xsd" variable="RESP_message"/>
	
  <Log>#RESP_message#</Log>

  <AssertEquals value="Invalid or Empty Header" variable="error_header"/>
	
  <Log level="info">==========@ Проверка содержания сообщения из TASK3.RESP.</Log>
  <PutVariable mnemonic="validation_result" name="is_valid" variable="RESP_message"/>
	
  <Match mnemonic="empty_header_error"
       mnemonicType="REGEXP" variable="is_valid"/>
</Test>