<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" description="Преобразование входящего сообщения в формат исходящего сообщения" name="Block_2_positive" xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

  <Log level="info">==========@ Запущен тест кейс #$Test_name$#.</Log>

  <!-- 
  Тест-Кейс: 
  1. Сохраняем файлы для отправки и сравнения в переменные 
  2. Отправляем сообщение в очередь, оно валидируется и отправляется сообщение в другое очередь
  3. Получаем сообщение из очереди исходящих сообщений OUT
  4. Валидируем исходящее сообщение
  5. Получаем сообщение из очереди о результатах валидации RESP
  6. Валидируем полученное сообщение -->

  <GetTemplate path="Templates/ex2_msg1.xml" variable="xml_to_send"/>
  <GetTemplate path="Templates/ex2_out_response_msg_1.xml" variable="OUT_expected_result"/>
  <GetTemplate path="Templates/ex2_status_resp_valid_msg_1.xml" variable="RESP_expected_result"/>


  <Log level="info">==========@ Очистка очередей.</Log>
  <ClearQueue clearMethod="CLEAR">
    <Queue objName="IN"/>
    <Queue objName="OUT"/>
    <Queue objName="RESP"/>
  </ClearQueue>

  <Log level="info">==========@ Отправка сообщения.</Log>
  <SendMessage variable="xml_to_send">
    <Queue objName="IN"/>
  </SendMessage>

  <Log level="info">==========@ Получение сообщения из TASK2.OUT.</Log>
  <GetMessageSimple maxTime="10000" variable="OUT_message">
    <Queue objName="OUT"/>
  </GetMessageSimple>

  <Log level="info">==========@ Получение сообщения из TASK2.RESP.</Log>
  <GetMessageSimple maxTime="10000" variable="RESP_message">
    <Queue objName="RESP"/>
  </GetMessageSimple>
  

  <Log level="info">==========@ Проверка сообщения из TASK2.OUT.</Log>
	<ValidateXmlDocument schemaPath="XSD/Transaction-Details.xsd" variable="OUT_message"/>


  <Log level="info">==========@ Проверка сообщения из TASK2.RESP.</Log>
	<ValidateXmlDocument schemaPath="XSD/Transaction-Result.xsd" variable="RESP_message"/>

</Test>