<?xml version="1.0" encoding="UTF-8"?>

<Test xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	description="Обработка timeout-а ожидания ответ" 
	name="Block_5_positive" 
	xsi:noNamespaceSchemaLocation="http://ctt.cinimex.ru/testSettings.xsd">

  <Log level="info">==========@ Запущен тест кейс #$Test_name$#.</Log>

  <!-- 
  Тест-Кейс: 
  1. Сохраняем файл для отправки в переменную 
  2. Отправляем валидное сообщение в очередь TASK5.IN
  3. Получаем сообщение из очереди TASK5.TO.EXTERNAL.SYSTEM
  4. Смотрим CorrelationId сообщения и валидируем сообщение
  5. Ждем 61 сек
  6. Проверяем сообщение в очереди TASK4.ERROR  -->

  <GetTemplate path="Templates/ex5_msg1.xml" variable="message"/>
  
  
  <Log level="info">==========@ Валидация отправляемого в сервис сообщения.</Log>
  <ValidateXmlDocument schemaPath="XSD/Transaction.xsd" variable="message"/>
  


  <Log level="info">==========@ Очистка очередей.</Log>
  <ClearQueue clearMethod="CLEAR">
    <Queue objName="TASK5.IN"/>
    <Queue objName="TASK5.TO.EXTERNAL.SYSTEM"/>
    <Queue objName="TASK5.ERROR"/>
  </ClearQueue>

  <Log level="info">==========@ Отправка сообщения в TASK5.IN.</Log>
  <SendMessage variable="message">
    <Queue objName="TASK5.IN"/>
  </SendMessage>
  
  <Log level="info">==========@ Получение сообщения из TASK5.TO.EXTERNAL.SYSTEM.</Log>
  <GetMessageSimple maxTime="10000" variable="message_to_ext_system">
    <Queue objName="TASK5.TO.EXTERNAL.SYSTEM"/>
        <get>
        <mqmds>
            <mqmd header="CorrelationID" variable="correl_Id"/>
        </mqmds>
    </get>
  </GetMessageSimple>
  
  <Log level="info">==========@ CorrelationId сообщения - #correl_Id#.</Log>
  


  <Log level="info">==========@ Валиация сообщения в очереди TASK5.TO.EXTERNAL.SYSTEM.</Log>
  <ValidateXmlDocument schemaPath="XSD/Transaction-Ask-For-Permission.xsd" variable="message_to_ext_system"/>
  
  
  <Wait time="61000"/>
  
  <Log level="info">==========@  Получение и проверка сообщения в очереди TASK5.ERROR.</Log>
  <GetMessageSimple maxTime="10000" variable="message_out">
    <Queue objName="TASK5.ERROR"/>
  </GetMessageSimple>
  <ValidateXmlDocument schemaPath="XSD/Transaction-Result.xsd" variable="message_out"/>
  
  <Log>#message_out#</Log>
  
  <Log level="info">==========@ Проверка содержания сообщения из TASK5.ERROR.</Log>	
  <Match mnemonic="no_answer_error" variable="message_out"/>

</Test>